<!DOCTYPE html>

<html>

    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    </head>

    <body>
        <div class="main-content">
            <h1>{{title}}</h1>

            {{>header}}

            <form id="form">
                <input placeholder="Location">
                <button>Search</button>
            </form>
            
            <div class="sub-content">
                <p id="message-1"></p>
                <p id="message-2"></p>
            </div>
        </div>

        {{>footer}}

        <script src="/js/app.js"></script>
    </body>

</html>