<!DOCTYPE html>

<html>

    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <div id="weather-widget">
                <select id="switchLocation">
                    <option value="40d71n74d01/new-york/">New York</option>
                    <option value="51d51n0d13/london/">London</option>
                    <option value="48d862d35/paris/">Paris</option>
                    <option value="37d77n122d42/san-francisco">San Francisco</option>
                    <option value="34d05n118d24/los-angeles/">Los Angeles</option>
                    <option value="45d52n122d68/portland/">Portland</option>
                    <option value="35d71139d73/tokyo/">Tokyo</option>
                    <option value="n33d87151d21/sydney/">Sydney</option>
                    <option value="19d25n99d10/mexico-city/">Mexico City</option>
                    <option value="39d90116d41/beijing/">Beijing</option>
                    <option value="40d42n3d70/madrid/">Madrid</option>
                    <option value="48d1411d58/munich/">Munich</option>
                </select>

                <a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/?unit=us" data-label_1="NEW YORK" data-icons="Climacons Animated" data-textcolor="#333333" data-suncolor="#ffdf00" data-mooncolor="#858545" data-cloudcolor="#656565" data-cloudfill="#a0a0a0" data-raincolor="#2000ff" ></a>
            </div>

            <form id="form">
                <p>Find weather near you!</p>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            
            <div class="sub-content">
                <p id="message-1"></p>
                <p id="message-2"></p>
            </div>
        </div>

        {{>footer}}

        <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
        <script src="/js/app.js"></script>
    </body>

</html>