<header>
    <div class="weather-widget">
        <a class="weatherwidget-io" href="https://forecast7.com/en/44d56n123d26/corvallis/?unit=us" data-icons="Climacons Animated" data-mode="Forecast" data-suncolor="#ffd900" data-cloudcolor="#797979" data-cloudfill="#b3b3b3" data-raincolor="#002dff" ></a>
        
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
    </div>
</header>